<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="LaunchGroup">
      <section name="Bird-9-Settings" type="System.Configuration.NameValueSectionHandler"/>
      <section name="Bird-Heavy-Settings" type="System.Configuration.NameValueSectionHandler"/>
      <section name="Hawk-Heavy-Settings" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
    <sectionGroup name="PayloadGroup">
      <section name="GPM-Settings" type="System.Configuration.NameValueSectionHandler"/>
      <section name="TDRS-11-Settings" type="System.Configuration.NameValueSectionHandler"/>
      <section name="RO-245-Settings" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
  </configSections>

  <LaunchGroup>
    <Bird-9-Settings>
      <add key="Name" value="Bird-9"/>
      <add key="Orbit" value="600"/>
    </Bird-9-Settings>
    <Bird-Heavy-Settings>
      <add key="Name" value="Bird-9"/>
      <add key="Orbit" value="36000"/>
    </Bird-Heavy-Settings>
    <Hawk-Heavy-Settings>
      <add key="Name" value="Bird-9"/>
      <add key="Orbit" value="3000"/>
    </Hawk-Heavy-Settings>
  </LaunchGroup>

  <PayloadGroup>
    <GPM-Settings>
      <add key="Name" value="GPM"/>
      <add key="Type" value="Scientific"/>
      <add key="Data-interval" value="5"/>
    </GPM-Settings>
    <TDRS-11-Settings>
      <add key="Name" value="TDRS-11"/>
      <add key="Type" value="Communication"/>
      <add key="Data-interval" value="10"/>
    </TDRS-11-Settings>
    <RO-245-Settings>
      <add key="Name" value="RO-245"/>
      <add key="Type" value="Spy"/>
      <add key="Data-interval" value="30"/>
    </RO-245-Settings>
  </PayloadGroup>
</configuration>