/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

body {
    /*background: linear-gradient(to right, #141e30, #243b55);*/
    /*background: rgb(2,0,36);*/
    background-image: linear-gradient(45deg, rgba(2,0,36,0.7), rgba(2,21,58,0.7), rgba(0,212,255,0.7)), url(https://images.immediate.co.uk/production/volatile/sites/4/2018/07/GettyImages-522064886use-db5a475.jpg?quality=90&resize=768,574);
    /*background-image: linear-gradient(to right, #141e30, #243b55), url(https://media.istockphoto.com/photos/half-moon-surface-and-starry-space-picture-id470456843?b=1&k=20&m=470456843&s=170667a&w=0&h=2WudlvbPmywrax5FSW5OqAdtJKY8gYx617ovrcTdQiM=);*/
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

/*.outcome {
    padding: 2px 4px;
    white-space: nowrap;
}*/

.success {
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid;
    border-radius: 10px;
    overflow: hidden;
    min-width: 4.4em;
    color: #5cb85c;
    padding: 0px 8px;
}

.not-launched {
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid;
    border-radius: 10px;
    overflow: hidden;
    min-width: 4.4em;
    color: darkslateblue;
    padding: 0px 8px;
}

h1 {
    color: white;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

 Provide sufficient contrast against white background 
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

 Sticky footer styles
-------------------------------------------------- 
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

 Sticky footer styles
-------------------------------------------------- 
html {
  position: relative;
  min-height: 100%;
}

body {
   Margin bottom by footer height 
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;  Vertically center the text there 
}

.deploy-status.open:before {
    background-color: #94e185;
    border-color: #78d965;
    box-shadow: 0px 0px 4px 1px #94e185;
}

.deploy-status.in-progress:before {
    background-color: #ffc182;
    border-color: #ffb161;
    box-shadow: 0px 0px 4px 1px #ffc182;
}

.deploy-status.offline:before {
    background-color: #c9404d;
    border-color: #c42c3b;
    box-shadow: 0px 0px 4px 1px #c9404d;
}

.deploy-status:before {
    content: ' ';
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-right: 10px;
    border: 1px solid #000;
    border-radius: 7px;
}

#launch_table {
    color: white; 
    background-color: rgba(3, 5, 7, 0.5); 
    margin: auto;
    width: 100%
}

/*#launch_table th {
    padding: 15px;
}

#launch_table td {
    padding: 15px;
}*/