@page
@model SignalRApp.Pages.CommandsModel
@{
    ViewData["Title"] = "Commands";
}
<h1>@ViewData["Title"]</h1>


<div>
<form class="row gy-2 gx-3 align-items-center" id="cmd_form"> @*action="/action_page.php"*@ 
  <div class="col-auto">
    <label  for="autoSizingSelect">Choose Target</label>
    <select class="form-select" id="targetSelect">
      <option selected disabled>Select</option>
      <option value="1">Bird-9</option>
      <option value="2" >Bird-Heavy</option>
      <option value="3" >Hawk-Heavy</option>
    </select>
  </div>
  <div class="col-auto">
    <label for="autoSizingSelect">Choose Command</label>
    <select class="form-select" id="commandSelect">
      <option selected disabled>Select</option>
      <option value="1" id="deployBtn" disabled>DeployPayload</option>
      <option value="2" id="deorbitBtn" disabled>Deorbit</option>
      <option value="3" id="startTlmBtn" disabled>StartTelemetry</option>
      <option value="3" id="stopTlmBtn" disabled>StopTelemetry</option>
    </select>
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary" id="cmd_btn" disabled>Send</button>
  </div>
</form>
</div>

<br />
<div >
  <label for="Textarea1" class="form-label">Command History</label>
  <textarea class="form-control" id="cmdHistory" style="max-width:60%;height:100%;width:60%;" rows="4" readonly></textarea>
</div>

@section scripts {
<script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
<script src="~/js/messagebroker.js"></script>
@*<script src="https://code.jquery.com/jquery-3.5.0.js"></script>*@
}