@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Deep Space Network</h1>
</div>
<div>
    <label class="checkbox-inline">
        <input type="checkbox" id="chkRed" name="chkColor" data-lightColor="Red" data-toggle="toggle" data-onstyle="danger" data-offstyle="danger">
        <span style="padding-right: 40px;">Red</span>
    </label>
    <label class="checkbox-inline">
        <input type="checkbox" id="chkGreen" name="chkColor" data-lightColor="Green" data-toggle="toggle" data-onstyle="success" data-offstyle="success">
        <span style="padding-right: 40px;">Green</span>
    </label>
    <label class="checkbox-inline">
        <input type="checkbox" id="chkBlue" name="chkColor" data-lightColor="Blue" data-toggle="toggle" data-onstyle="primary" data-offstyle="primary">
        <span style="padding-right: 40px;">Blue</span>
    </label>
</div>
<h4 id="messageCount">0</h4>
<ul id="messages" style="overflow: auto; max-height: 600px;">
</ul>

<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col" colspan="2" style="text-align:center">Telemetry Data</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Altitude</th>
      <td id="altitude"></td>
    </tr>
    <tr>
      <th scope="row">Longitude</th>
      <td id="longitude"></td>
    </tr>
    <tr>
      <th scope="row">Latitude</th>
      <td colspan="2" id="latitude"></td>
    </tr>
    <tr>
      <th scope="row">Temperature</th>
      <td colspan="2" id="temperature"></td>
    </tr>
    <tr>
      <th scope="row">Time to Orbit</th>
      <td colspan="2" id="time_to_orbit"></td>
    </tr>
    <tr>
      <th scope="row">Time Formatted</th>
      <td colspan="2" id="time_formatted"></td>
    </tr>
  </tbody>
</table>

@section scripts {
<script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
<script src="~/js/messagebroker.js"></script>
@*<script src="https://code.jquery.com/jquery-3.5.0.js"></script>*@
}