@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Deep Space Netw<i class="fas fa-satellite-dish fa-spin" style="font-size:28px"></i>rk </h1>
    @*<span class="bi bi-moon"></span>*@
    @*<i class="fa fa-moon-o" style="font-size:56px"></i>*@

</div>


@*<div class="d-grid gap-2 d-md-block">
  <button class="btn btn-primary" type="button">Button</button>
</div>*@

<div class="top-buttons">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#cmdModal">Commands</button>
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#launchModal" id="launchBtn">Launch </button></button>
    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#PayloadModal" id="payloadBtn">Payload</button>
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#alertModal" id="alertBtn">Alerts <span class="badge bg-primary" id="alertBadge">1</span></button>
    @*<button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#launchModal" id="launchBtn">Launch</button>*@
@*    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-light">Light</button>
    <button type="button" class="btn btn-dark">Dark</button>*@
</div>

@*<h5 id="messageCount">0</h5>
<ul id="messages" style="overflow: auto; max-height: 600px;">
</ul>*@

<!-----------top buttons- modals---------------------------------------->
@*<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>*@

<!------------- Alerts Modal------------------------------------------------------------------------>
<div class="modal fade" id="alertModal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalToggleLabel">Alerts</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="alert-body" class="modal-body">
        <br />
        <div >
            <label for="Textarea1" class="form-label">Alerts History</label>
            <textarea class="form-control" id="alert_history" style="max-width:100%;height:100%;width:100%;" rows="6" readonly></textarea>
        </div>
      </div>
      <div class="modal-footer">
          <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        @*<button class="btn btn-primary" data-bs-target="#cmdModal" data-bs-toggle="modal" data-bs-dismiss="modal">Open Command Center</button>*@
      </div>
    </div>
  </div>
</div>

<!------------- Commands Modal------------------------------------------------------------------------>
<div class="modal fade" id="cmdModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Command Center</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
            <form class="row gy-2 gx-3 align-items-center" id="cmd_form"> @*action="/action_page.php"*@ 
                <div class="col-auto">
                <label  for="autoSizingSelect">Choose Target</label>
                <select class="form-select" id="targetSelect">
                    <option selected disabled>Select</option>
                    <option value="1">Bird-9</option>
                    <option value="2" >Bird-Heavy</option>
                    <option value="3" >Hawk-Heavy</option>
                </select>
                </div>
                <div class="col-auto">
                <label for="autoSizingSelect">Choose Command</label>
                <select class="form-select" id="commandSelect">
                    <option selected disabled>Select</option>
                    <option value="1" id="deployBtn" disabled>DeployPayload</option>
                    <option value="2" id="deorbitBtn" disabled>Deorbit</option>
                    <option value="3" id="startTlmBtn" disabled>StartTelemetry</option>
                    <option value="4" id="stopTlmBtn" disabled>StopTelemetry</option>
                </select>
                </div>
                <div class="col-auto">
                <button type="submit" class="btn btn-primary" id="cmd_btn" disabled>Send</button>
                </div>
            </form>
        </div>
        <br />
        <div >
            <label for="Textarea1" class="form-label">Command History</label>
            <textarea class="form-control" id="cmdHistory" style="max-width:60%;height:100%;width:60%;" rows="4" readonly></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"  data-bs-dismiss="modal">Close</button> @*data-bs-target="#alertModal" data-bs-toggle="modal"*@
      </div>
    </div>
  </div>
</div>
@*<a class="btn btn primary" data-bs-toggle="modal" href="#alertModal" role="button">Open first modal</a>*@



<!------------- Payload Command Modal------------------------------------------------------------------------>
<div class="modal fade" id="PayloadModal" tabindex="-1" aria-labelledby="exampleModalToggleLabel2" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered"> <!--modal-dialog-centered"-->
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalToggleLabel2">Payload Command Center</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
            <form class="row gy-2 gx-3 align-items-center" id="payload_cmd_form"> @*action="/action_page.php"*@ 
                <div class="col-auto">
                <label  for="autoSizingSelect">Choose Target</label>
                <select class="form-select" id="payload_target_select">
                    <option selected disabled>Select</option>
                    <option value="1" id="choosePayl1" disabled>GPM</option>
                    <option value="2" id="choosePayl2" disabled>TDRS-11</option>
                    <option value="3" id="choosePayl3" disabled>RO-245</option>
                </select>
                </div>
                <div class="col-auto">
                <label for="autoSizingSelect">Choose Command</label>
                <select class="form-select" id="payload_command_select">
                    <option selected disabled>Select</option>
                    <option value="1" id="startDataBtn" >StartData</option>
                    <option value="2" id="stopDataBtn" >StopData</option>
                    <option value="3" id="DecommisionBtn" >Decommision</option>
                    <option value="4" id="startPayTlmBtn" >StartTelemetry</option>
                    <option value="5" id="stopPayTlmBtn" >StopTelemetry</option>
                </select>
                </div>
                <div class="col-auto">
                <button type="submit" class="btn btn-primary" id="payload_cmd_btn" disabled>Send</button>
                </div>
            </form>
        </div>

        <br />
        <div >
            <label for="Textarea1" class="form-label">Command History</label>
            <textarea class="form-control" id="payload_cmd_history" style="max-width:60%;height:100%;width:60%;" rows="4" readonly></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!------------- Launch Modal------------------------------------------------------------------------>
<div class="modal fade" id="launchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Launch Center</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
            <form class="row gy-2 gx-3 align-items-center" id="launch_cmd_form"> @*action="/action_page.php"*@ 
                <div class="col-auto">
                <label  for="autoSizingSelect">Choose Target</label>
                <select class="form-select" id="launch_target_select">
                    <option value="0" id="launch_target0" selected disabled>Select</option>
                    <option value="1" id="launch_target1">Bird-9</option>
                    <option value="2" id="launch_target2">Bird-Heavy</option>
                    <option value="3" id="launch_target3">Hawk-Heavy</option>
                </select>
                </div>
@*                <div class="col-auto">
                <label for="autoSizingSelect">Choose Command</label>
                <select class="form-select" id="lauch_command_select">
                    <option selected disabled>Select</option>
                    <option value="1"  >startData</option>
  
                </select>
                </div> *@               
                <div class="col-auto">
                <button type="submit" class="btn btn-primary" id="launch_cmd_btn" disabled>Launch</button>
                </div>
                <img src="https://preview.redd.it/p19y1lt623q21.png?width=640&crop=smart&auto=webp&s=65496bff0f2cbdd1f334067bddcc7476fd928fc2" />
            </form>
        </div>

        <br />
@*        <div >
            <label for="Textarea1" class="form-label">Command History</label>
            <textarea class="form-control" id="payload_cmd_history" style="max-width:60%;height:100%;width:60%;" rows="4" readonly></textarea>
        </div>*@
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<!----------Launch Table-------------------------------------------------------------------------------->
<table id="launch_table" > <!---class="table table-hover table-dark"-->
  <thead>
    <tr>
      <th scope="col" colspan="8" style="text-align:center">Launches</th>
    </tr>
  </thead>
  <thead>
    <tr>
      <th scope="col" style="text-align:center"></th>
      <th scope="col">Launch Vehicle</th>
      <th scope="col">Launch Status</th>
      <th scope="col">Telemetry</th>
      <th scope="col">Time to Orbit</th>
      <th scope="col">Payload Status</th>
      <th scope="col">Telemetry/Data</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td >Bird-9</td>
      <td >
          @*<span id="status1" class="not-launched">Upcoming</span>*@
          <span id="status1" class="success">Launched</span>
      </td>
      <td>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal1">View
          </button>
      </td>
      <td id="tto1">N/A</td>
      <td id="deploy1" class="deploy-status in-progress">
          In Progress
      </td>
      <td>
         <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#paymodal1">View</button>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Bird-Heavy</td>
      <td >
          <span id="status2" class="not-launched">Upcoming</span>
          @*<span id="status2" class="success">Launched</span>*@
      </td>
      <td>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal2" >View</button>
      </td>
      <td id="tto2">N/A</td>
      <td id="deploy2" class="deploy-status offline">
          N/A
      </td>
      <td>
         <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#paymodal2">View</button>
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Hawk-Heavy</td>
      <td>
          <span id="status3" class="not-launched">Upcoming</span>
          @*<span id="status3" class="success">Launched</span>*@
      </td>
      <td>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal3">View</button>
      </td>
      <td id="tto3">N/A</td>
      <td id="deploy3" class="deploy-status offline">
          N/A
      </td>
      <td>
         <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#paymodal3">View</button>
      </td>      
    </tr>
  </tbody>
</table>



@*<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>*@

<!----------------------- Modal1 ----------------------------------------------->
<div class="modal fade" id="modal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1">Bird-9 Telemetry Viewer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
            <h5 id="tlmCount1">0</h5>
            <!----------Telemetry Table-------------------------------------------------------------------------------->
            <table class="table table-striped table-hover">
@*              <thead>
                <tr>
                  <th scope="col" colspan="2" style="text-align:center">Telemetry Data</th>
                </tr>
              </thead>*@
              <tbody>
                <tr>
                  <th scope="row">Altitude</th>
                  <td id="altitude1"></td>
                </tr>
                <tr>
                  <th scope="row">Longitude</th>
                  <td id="longitude1"></td>
                </tr>
                <tr>
                  <th scope="row">Latitude</th>
                  <td colspan="2" id="latitude1"></td>
                </tr>
                <tr>
                  <th scope="row">Temperature</th>
                  <td colspan="2" id="temperature1"></td>
                </tr>
                <tr>
                  <th scope="row">Time to Orbit</th>
                  <td colspan="2" id="time_to_orbit1"></td>
                </tr>
                <tr>
                  <th scope="row">Time Formatted</th>
                  <td colspan="2" id="time_formatted1"></td>
                </tr>
              </tbody>
            </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
        @*<button type="button" class="btn btn-primary">Save changes</button>*@
      </div>
    </div>
  </div>
</div>

<!------------------ Modal2 ----------------------------------------------------------------->
<div class="modal fade" id="modal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">Bird-Heavy Telemetry Viewer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <h5 id="tlmCount2">0</h5>
            <!----------Telemetry Table-------------------------------------------------------------------------------->
            <table class="table table-striped table-hover">
@*              <thead>
                <tr>
                  <th scope="col" colspan="2" style="text-align:center">Telemetry Data</th>
                </tr>
              </thead>*@
              <tbody>
                <tr>
                  <th scope="row">Altitude</th>
                  <td id="altitude2"></td>
                </tr>
                <tr>
                  <th scope="row">Longitude</th>
                  <td id="longitude2"></td>
                </tr>
                <tr>
                  <th scope="row">Latitude</th>
                  <td colspan="2" id="latitude2"></td>
                </tr>
                <tr>
                  <th scope="row">Temperature</th>
                  <td colspan="2" id="temperature2"></td>
                </tr>
                <tr>
                  <th scope="row">Time to Orbit</th>
                  <td colspan="2" id="time_to_orbit2"></td>
                </tr>
                <tr>
                  <th scope="row">Time Formatted</th>
                  <td colspan="2" id="time_formatted2"></td>
                  @*<td colspan="2" ><input id="time_formatted2" type="text" placeholder="" disabled></td>*@
                </tr>
              </tbody>
            </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
        @*<button type="button" class="btn btn-primary">Save changes</button>*@
      </div>
    </div>
  </div>
</div>

<!--------------------- Modal3 ---------------------------------------------------------->
<div class="modal fade" id="modal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel3">Hawk-Heavy Telemetry Viewer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <h5 id="tlmCount3">0</h5>
            <!----------Telemetry Table-------------------------------------------------------------------------------->
            <table class="table table-striped table-hover">
@*              <thead>
                <tr>
                  <th scope="col" colspan="2" style="text-align:center">Telemetry Data</th>
                </tr>
              </thead>*@
              <tbody>
                <tr>
                  <th scope="row">Altitude</th>
                  <td id="altitude3"></td>
                </tr>
                <tr>
                  <th scope="row">Longitude</th>
                  <td id="longitude3"></td>
                </tr>
                <tr>
                  <th scope="row">Latitude</th>
                  <td colspan="2" id="latitude3"></td>
                </tr>
                <tr>
                  <th scope="row">Temperature</th>
                  <td colspan="2" id="temperature3"></td>
                </tr>
                <tr>
                  <th scope="row">Time to Orbit</th>
                  <td colspan="2" id="time_to_orbit3"></td>
                </tr>
                <tr>
                  <th scope="row">Time Formatted</th>
                  <td colspan="2" id="time_formatted3"></td>
                </tr>
              </tbody>
            </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-----------------------Payload Modal1 ----------------------------------------------->
<div class="modal fade" id="paymodal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="payexampleModalLabel1">GPM Telemetry/Data Viewer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
            <h5 id="tlmCountp1">0</h5>
            <!----------Telemetry Table-------------------------------------------------------------------------------->
            <table class="table table-striped table-hover">
@*              <thead>
                <tr>
                  <th scope="col" colspan="2" style="text-align:center">Telemetry Data</th>
                </tr>
              </thead>*@
              <tbody>
                <tr>
                  <th scope="row">Altitude</th>
                  <td id="altitudep1"></td>
                </tr>
                <tr>
                  <th scope="row">Longitude</th>
                  <td id="longitudep1"></td>
                </tr>
                <tr>
                  <th scope="row">Latitude</th>
                  <td colspan="2" id="latitudep1"></td>
                </tr>
                <tr>
                  <th scope="row">Temperature</th>
                  <td colspan="2" id="temperaturep1"></td>
                </tr>
                <tr>
                  <th scope="row">Time Formatted</th>
                  <td colspan="2" id="time_formattedp1"></td>
                </tr> 
                <tr>
                  <th scope="row">Rainfall</th>
                  <td colspan="2" id="rainfallp1"></td>
                </tr>
                <tr>
                  <th scope="row">Humidity</th>
                  <td colspan="2" id="humidityp1"></td>
                </tr>
                <tr>
                  <th scope="row">Snow</th>
                  <td colspan="2" id="snowp1"></td>
                </tr>
                <tr>
                  <th scope="row">Time Data Received</th>
                  <td colspan="2" id="data_time_formattedp1"></td>
                </tr>                
              </tbody>
            </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
        @*<button type="button" class="btn btn-primary">Save changes</button>*@
      </div>
    </div>
  </div>
</div>

<!------------------Payload Modal2 ----------------------------------------------------------------->
<div class="modal fade" id="paymodal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="payexampleModalLabel2">TDRS-11 Telemetry/Data Viewer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <h5 id="tlmCountp2">0</h5>
            <!----------Telemetry Table-------------------------------------------------------------------------------->
            <table class="table table-striped table-hover">
@*              <thead>
                <tr>
                  <th scope="col" colspan="2" style="text-align:center">Telemetry Data</th>
                </tr>
              </thead>*@
              <tbody>
                <tr>
                  <th scope="row">Altitude</th>
                  <td id="altitudep2"></td>
                </tr>
                <tr>
                  <th scope="row">Longitude</th>
                  <td id="longitudep2"></td>
                </tr>
                <tr>
                  <th scope="row">Latitude</th>
                  <td colspan="2" id="latitudep2"></td>
                </tr>
                <tr>
                  <th scope="row">Temperature</th>
                  <td colspan="2" id="temperaturep2"></td>
                </tr>
                <tr>
                  <th scope="row">Time Formatted</th>
                  <td colspan="2" id="time_formattedp2"></td>
                </tr>
                <tr>
                  <th scope="row">Uplink</th>
                  <td colspan="2" id="uplinkp2"></td>
                </tr>
                <tr>
                  <th scope="row">Downlink</th>
                  <td colspan="2" id="downlinkp2"></td>
                </tr>
                <tr>
                  <th scope="row">ActiveTransponders</th>
                  <td colspan="2" id="activetranspondersp2"></td>
                </tr>
                <tr>
                  <th scope="row">Time Data Received</th>
                  <td colspan="2" id="data_time_formattedp2"></td>
                </tr>   
              </tbody>
            </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
        @*<button type="button" class="btn btn-primary">Save changes</button>*@
      </div>
    </div>
  </div>
</div>

<!---------------------Payload Modal3 ---------------------------------------------------------->
<div class="modal fade" id="paymodal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="payexampleModalLabel3">RO-245 Telemetry/Data Viewer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <h5 id="tlmCountp3">0</h5>
            <!----------Telemetry Table-------------------------------------------------------------------------------->
            <table class="table table-striped table-hover">
@*              <thead>
                <tr>
                  <th scope="col" colspan="2" style="text-align:center">Telemetry Data</th>
                </tr>
              </thead>*@
              <tbody>
                <tr>
                  <th scope="row">Altitude</th>
                  <td id="altitudep3"></td>
                </tr>
                <tr>
                  <th scope="row">Longitude</th>
                  <td id="longitudep3"></td>
                </tr>
                <tr>
                  <th scope="row">Latitude</th>
                  <td colspan="2" id="latitudep3"></td>
                </tr>
                <tr>
                  <th scope="row">Temperature</th>
                  <td colspan="2" id="temperaturep3"></td>
                </tr>
                <tr>
                  <th scope="row">Time Formatted</th>
                  <td colspan="2" id="time_formattedp3"></td>
                </tr>
                <tr>
                  <th scope="row">Time Data Received</th>
                  <td colspan="2" id="data_time_formattedp3"></td>
                </tr>   
              </tbody>
            </table>
            <img id="imagep3" src="" alt="Image" width="480" height="330"> <!--https://mars.nasa.gov/msl-raw-images/proj/msl/redops/ods/surface/sol/01000/opgs/edr/rcam/RLB_486265291EDR_F0481570RHAZ00323M_.JPG-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

@section scripts {
<!--Reference the SignalR library. -->
<script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
<!--Reference the messagebroker script. -->
<script src="~/js/messagebroker.js"></script>
<script>
    //var status1 = document.getElementById("status1").innerText;
    //var status2 = document.getElementById("status2").innerText;
    //var status3 = document.getElementById("status3").innerText;
    //var deploy1 = document.getElementById("deploy1").innerText;
    //var deploy2 = document.getElementById("deploy2").innerText;
    //var deploy3 = document.getElementById("deploy3").innerText;

    //var vehicles = {"items":[{name:"Bird-9", id: 1, launchStatus: status1, deployStatus: deploy1}, {name:"Bird-Heavy", id: 2, launchStatus: status2, deployStatus: deploy2},{name:"Hawk-Heavy",id: 3, launchStatus: status3, deployStatus: deploy3}]};
    
    ////localStorage.clear();
    //if (!localStorage.getItem('vehicles')) {
    //    localStorage.setItem('vehicles', JSON.stringify(vehicles));
    //}    
    
    //var lvItems = JSON.parse(localStorage.getItem('vehicles'));
    //var launchStatus = lvItems["items"][1]["launchStatus"];
    //var deployStatus = lvItems["items"][1]["deployStatus"];
    //console.log("launchStatus: " + launchStatus);
    //console.log("onIndex: Bird-Heavy deployStatus: " + deployStatus);

</script>
@*<script src="https://code.jquery.com/jquery-3.5.0.js"></script>*@
}